@charset "utf-8";



/* =======================================
   HERO SECTION
======================================= */

/* Hero full screen */
.hero {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  background: url("HeroImage.jpg") center/cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7));
}

/* Center content */
.hero-center {
  display: grid;
  justify-items: center;
  gap: 20px;
  z-index: 1;
  text-align: center;
}

/* =======================================
   LOGO
======================================= */

.logo-img {
  width: clamp(500px, 60vw, 1200px);
  height: auto;
  transform: translateY(-8vh);
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, .30));
}

/* =======================================
   Knap på forside
======================================= */
.cta-btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  background: #5d2923;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.cta-btn:hover {
  background: #6c322b;
}

.hero-center {
  position: relative; 
}

.hero-btn {
  position: absolute;
  top: 58%;                
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
}

.scroll-gap {
  height: 15vh;              
  background: #ffffff;     
}

/* =======================================
   Arrow pil ned
======================================= */
.arrow_ned {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.arrow_ned span {
  width: 16px;
  height: 16px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(45deg);
}

/* =======================================
   BURGER MENU BUTTON
======================================= */
.hamburger {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 72px;
  height: 72px;
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 10px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(2px);
  cursor: pointer;
  z-index: 2;
}

.hamburger span {
  width: 100%;
  height: 6px;
  background: #fff;
  border-radius: 999px;
}

/* Skjul checkbox */
#menu-toggle {
  display: none;
}

/* Overlay */
.hamburger-overlay {
  display: none;
}

/* Aktiv overlay */
#menu-toggle:checked ~ .hamburger-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 40;
}

/* =======================================
   SIDE MENU
======================================= */
.side-menu {
  position: fixed;
  top: 0;
  right: -320px;
  width: 260px;
  height: 100%;
  background: #4a4a4a;
  padding: 40px 20px;
  z-index: 50;
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Åben menu */
#menu-toggle:checked ~ .side-menu {
  right: 0;
}

/* Menu list */
.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: center;
}

.side-menu ul li {
  margin: 28px 0;
}

.side-menu ul li a {
  font-family: "Alfa Slab One";
  font-size: 22px;
  text-decoration: none;
  color: white;
}

/* Social icons */
.socials {
  margin-top: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials img {
  width: 28px;
  height: 28px;
  filter: invert(1);
}

/* =======================================
   ABOUT 
======================================= */



.about-section {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 0;                  
  background: #da7123;         
  color: #fff;
  height: 520px;  
}

.about-section img {
  width: 55%;                  
  height: 100%;
  object-fit: cover;           
}

.about-text {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  flex: 1; 
  max-width: none; 
  text-align: center;
}



.about-text h2 {
  font-size: 58px;
  color: #eee;
  margin-bottom: 20px;
  font-family: "Alfa Slab One";
}

.about-text p {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Red Hat Display";
  color: #333;
  max-width: 420px;
  text-align: center;
}


/* =======================================
   WORLD TOUR 
======================================= */
.worldtour-section {
  padding: 60px 20px;
  text-align: center;
  background: #e0f0ff;
}

.worldtour-section h2 {
  font-size: 32px;
  color: #555;
  margin-bottom: 30px;
}

.worldtour-content {
  position: relative;
  width: 100%;          
  max-width: 1250px;    
  margin: 0 auto;      
}

.worldtour-content img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

/* Subtil baggrund bag tekst */
.worldtour-content .overlay-text {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  
  background: rgba(0, 0, 0, 0.35); 
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  backdrop-filter: blur(3px);       
}

/* Knap ovenpå billedet */
.worldtour-content .explore-btn {
  position: absolute;
  bottom: 20px;        
  left: 50%;
  transform: translateX(-50%);
  
  padding: 12px 28px;
  background: #8b0000;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 8px;
  transition: background 0.3s;
}

.worldtour-content .explore-btn:hover {
  background: #a30000;
}

/* =======================================
   Animated film
======================================= */
.film-section {
    text-align: center;
    padding: 80px 20px;
    background: #fff;
}

.film-section h2 {
    font-family: "Alfa Slab One", sans-serif;
    font-size: 36px;
	color: #555;
    margin-bottom: 10px;
}

.film-text a {
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    color: #1a1a1a;
}

.film-text a:hover {
    opacity: 0.7;
}

/* Video container (holder video responsiv) */
.video-container {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    padding-bottom: 50.25%; 
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* =======================================
   Footer
======================================= */
.site-footer {
    background: #3a3a3a;
    padding: 60px 60px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: white;
    flex-wrap: wrap; 
}

.footer-links {
    display: flex;
    gap: 30px; 
}

.footer-links a {
    font-family: "Red Hat Display", sans-serif;
    color: white;
    font-size: 16px; 
    text-decoration: none;
    font-weight: 600;
}

.footer-links a:hover {
    opacity: 0.7;
}

.footer-socials {
    display: flex;
    gap: 20px; 
}

.footer-socials img {
    width: 35px; 
    height: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.footer-socials img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.footer-links {
    flex-direction: column; 
    gap: 10px;
}


/* =======================================
   Underside: SUPPORT
======================================= */
.support-header {
    height: 220px;     
    background: white;
    display: flex;
    align-items: center; 
    padding-left: 30px;  
    border-bottom: 2px solid #e0e0e0;
}

.support-logo {
    position: absolute; 
	top:0px;
	left: 30px;
    height: 220px; 
    width: auto;
	display:block;
}

.support-header .hamburger {
    position: absolute;
    right: 20px;
    top: 30px;         
}

.support-title {
    font-family: "Alfa Slab One";
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.support-section {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    font-family: "Red Hat Display";
}

.support-section h2 {
    margin-bottom: 30px;
	color: #555;
}

.support-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.support-box {
    border: 2px solid #ccc;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

.support-box h3 {
    margin-bottom: 10px;
	color: #555;
}

.official-links {
    margin-top: 40px;
}

.official-links ul {
    padding: 0;
    list-style: none;
}


/* =======================================
   Underside: About The Game
======================================= */
.AboutTheGame-header {
    height: 220px;     
    background: white;
    display: flex;
    align-items: center; 
    padding-left: 30px;  
    border-bottom: 2px solid #e0e0e0;
}

.AboutTheGame-logo {
    position: absolute; 
	top:0px;
	left: 30px;
    height: 220px; 
    width: auto;
	display:block;
}

.AboutTheGame-title {
    font-family: "Alfa Slab One";
    font-size: 3rem;
    width: 100%;
    text-align: center;
	color: #555;
}

.What-is-Subway_Surfer {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.What-is-Subway_Surfer h2 {
  font-family: "Alfa Slab One", serif;
  text-align: center;
  color: #333;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.What-is-Subway_Surfer p {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  color: #555;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.What-is-Subway_Surfer img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Howtoplay, .special_features {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.Howtoplay h2, .special_features h2 {
  font-family: "Alfa Slab One", serif;
  text-align: center;
  color: #333;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.Howtoplay p, .special_features p {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  color: #555;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.special_features img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* =======================================
   Underside: World Tour
======================================= */
.World_Tour-header {
    height: 220px;     
    background: white;
    display: flex;
    align-items: center; 
    padding-left: 30px;  
    border-bottom: 2px solid #e0e0e0;
}

.World_Tour-logo {
    position: absolute; 
	top:0px;
	left: 30px;
    height: 220px; 
    width: auto;
	display:block;
}

.What_is_world_tours h1, h2 {
	font-family: "Alfa Slab One";
	text-align: center;
	color: #333;
}

.What_is_world_tours p {
	font-family: "Red Hat Display";
	text-align: center;
	color: #555;
	margin-bottom: 30px;
}

.gallery-4x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
}

.gallery-4x4 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.Currently_at {
	text-align: center;
	display: block;
    margin: 0 auto;
}

.Currently_at img {
    margin-bottom: 40px;
}

/* =======================================
   Underside: About SYBO
======================================= */
.About_SYBO-header {
    height: 220px;     
    background: white;
    display: flex;
    align-items: center; 
    padding-left: 30px;  
    border-bottom: 2px solid #e0e0e0;
}

.About_SYBO-logo {
    position: absolute; 
	top:0px;
	left: 30px;
    height: 220px; 
    width: auto;
	display:block;
}

.sybo-about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Red Hat Display";
  background: #f9f9f9; 
  border-radius: 8px;
}

.about-SYBO-text {
  text-align: center;
  margin-bottom: 30px;
}

.about-SYBO-text h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15px;
}

.about-SYBO-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}

.SYBO_Kiloo_logo {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; 
}

.SYBO_Kiloo_logo img {
  width: 250px; 
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.SYBO_Kiloo_logo img:hover {
  transform: scale(1.05); 
}

.sybo-values {
  max-width: 900px;
  margin: 80px auto;
}

.values-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 60px;
}

.values-timeline {
  position: relative;
  padding: 20px 0;
}
/* Laver en streg midt imellem values */
.values-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 6px;
  background: #eee;
  transform: translateX(-50%);
}

.value {
  width: 40%;
  text-align: center;
  margin-bottom: 60px;
}

.value.left {
  margin-left: 0;
  margin-right: auto;
}

.value.right {
  margin-left: auto;
  margin-right: 0;
}

.value h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #333;
}

.value p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

/* =======================================
    Responsiv tilpassning
======================================= */
.hero 
.about-section { display: flex; flex-direction: row; height: 520px; }
.gallery-4x4 { grid-template-columns: repeat(4, 1fr); }

/* --- Tablet (max-width: 1024px) --- */
@media (max-width: 1024px) {
  .hero-center {
    flex-direction: column;
    gap: 20px;
  }
  .logo-img {
    width: clamp(350px, 80vw, 600px);
    max-width: none;
  }
}

/* --- Mobil (max-width: 768px) --- */    
@media (max-width: 768px) {
  
.about-section {
   display: flex;
   flex-direction: column; 
   width: 100%;
   height: auto; 
   padding: 16px; 
   box-sizing: border-box;
  }

.about-section img,
.about-text {
    width: 100%; 
  }
}


.about-text {
  width: 100%; 
  padding: 16px;
  box-sizing: border-box;
}

.about-text h2 {
  margin-bottom: 12px;
}

.about-text p {
  line-height: 1.5;
}

/* --- Mobil (max-width: 768px) --- */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column; 
  }

  .about-section img,
  .about-text {
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .gallery-4x4 {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }

  .gallery-4x4 img {
    height: auto; 
  }
}


@media (max-width: 768px) {
  .World_Tour-header {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
}

  .Currently_at img {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
  }
}

@media (max-width: 768px) {
  .What_is_world_tours h1, h2 {
    font-size: 1.5rem;
  }

  .What_is_world_tours p {
    font-size: 1rem;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;        
    align-items: center;  
    justify-content: flex-start; 
  }

  header a img {
    width: 80px;  
    height: auto; 
    margin: 0;   
  }

  /* Hvis du har andre logoer i headeren */
  .support-logo,
  .AboutTheGame-logo,
  .World_Tour-logo,
  .About_SYBO-logo {
    width: 140px; 
    height: auto;
    margin: 0;
	padding-top: 20px;
  }
}

/* --- Ekstra små skærme (max-width: 480px) --- */
@media (max-width: 480px) {
  h1 { font-size: 28px; }
  h2 { font-size: 22px; }
  p { font-size: 16px; }
}


